.navigation {
    position: fixed;
    width: 100%;
    display: inline;
}

.navigation .logo {
    position: absolute;
    margin-top: 1%;
    left: 1%;
    width: 12%;
    height: auto;
}

.navigation .logo:hover {
    opacity: 70%;
    cursor: pointer;
}

.navigation div {
    position: absolute;
    margin-top: 1.5%;
    left: 79%;
    display: flex;

}

.navigation p {
    margin-left: 25%;
    /* text-align: center; */
    /* padding: 0 2%; */
    text-decoration: none;
    font-size: 1vw;
    letter-spacing: .1em;
}

.navigation p:hover {
    cursor: pointer;
    opacity: 70%;
}