body {
  background-color: #f3f9f2;
  font-family: 'Sanchez', serif;
  color: #2a2e35;
  position: relative;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
